###create a tuple

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[0])

apple

##tuple with different data types

In [10]:
tup1=("a","b","c",1,2,3)
print(tup1)

('a', 'b', 'c', 1, 2, 3)

# 4-unpack a tuple in several variables

In [12]:
tup1=(1,2,3)
a=tup1[0]
b=tup1[1]
c=tup1[2]
print(a,b,c)

1 2 3

# 5-add an item in a tuple

In [13]:
tup1 = (1,2,3,4,5,6)
tup1 = tup1 + (9,)
print(tup1)

(1, 2, 3, 4, 5, 6, 9)

# 6-convert tuple to string

In [16]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

# 7-get 4th element and 4th element from last of tuple

In [22]:
tup1 = ("s","u","y","k","o","m","a","r","e")
print(tup1)
item = tup1[2]
print(item)
item1 = tup1[-4]
print(item1)

('s', 'u', 'y', 'k', 'o', 'm', 'a', 'r', 'e')
y
m

# 9-find repeated items of tuple

In [24]:
tup1 = 2, 4, 5, 6, 2, 3, 4, 4, 7 
print(tup1)
count = tup1.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

# 10-check whether an element exists with in tuple

In [28]:
tuplex = ("j", "i", "h", "g", "f", "e", 4, "c", "b", "a")
print("c" in tuplex)
print(4 in tuplex)
print(8 in tuplex)

True
True
False

# 11-convert list to a tuple

In [30]:
list1 = [5, 10, 7, 4, 15, 3]
print(list1)
tup1 = tuple(list1)
print(tup1)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

# 12- remove an item from tuple

In [32]:
tup1 = "i", "h", "g", "f", "e", "d", "c", "b", "a"
print(tup1)
tup1 = tup1[:2] + tup1[3:]
print(tup1)
list1 = list(tup1) 
list1.remove("c") 
tup1 = tuple(list1)
print(tup1)

('i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
('i', 'h', 'f', 'e', 'd', 'c', 'b', 'a')
('i', 'h', 'f', 'e', 'd', 'b', 'a')

# 13- slice a tuple

In [33]:
x = ("a", "b","c", "d", "e")
print(x[2:4])

('c', 'd')

# 14-find index of item of tuple